mixin footer()
	header.footer
		.footer__in
			.footer__left
				a.footer__logo.logo_dark(href="#" data-goto="#top") Центр Естественного Здоровья
				a.footer__policy(href="#") Политика конфиденциальности
				p.footer__copyright ООО «Центр Естественного Здоровья»
			.footer__right
				p.footer__contact 127287, г. Москва, #[br] Петровско-Разумовский проезд,#[br] д. 29 стр. 4, бизнес-центр «Прокон» #[br] +7(495) 665 73 69 #[br] #[a(href="mailto:info@natural-health-center.ru") info@natural-health-center.ru]