@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
		        transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}
@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
		        transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}
@-webkit-keyframes fadeInDownBig {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		        transform: translateY(-2000px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}
@keyframes fadeInDownBig {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		        transform: translateY(-2000px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}
@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
		        transform: translateX(-20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
}
@keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
		        transform: translateX(-20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
}
@-webkit-keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		        transform: translateX(-2000px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
}
@keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		        transform: translateX(-2000px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
}
@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(20px);
		        transform: translateX(20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
}
@keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(20px);
		        transform: translateX(20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
}
@-webkit-keyframes fadeInRightBig {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		        transform: translateX(2000px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
}
@keyframes fadeInRightBig {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		        transform: translateX(2000px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
}
@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(100px);
		        transform: translateY(100px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(100px);
		        transform: translateY(100px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}
@-webkit-keyframes fadeInUpBig {
	0% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
		        transform: translateY(2000px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}
@keyframes fadeInUpBig {
	0% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
		        transform: translateY(2000px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}
* {
	margin: 0;
	padding: 0;
	font: inherit;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden], template {
	display: none;
}
html {
	font-family: sans-serif;
	    -ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-focus-ring-color: rgba(255,255,255,0);
	cursor: default;
}
body {
	font-size: 100%;
	line-height: 1;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
a {
	background: transparent;
}
*:focus, *:active, *:hover {
	outline: 0;
}
hr {
	box-sizing: content-box;
	height: 0;
}
ol, ul {
	list-style: none;
}
pre {
	-moz-tab-size: 4;
	     tab-size: 4;
	white-space: pre-wrap;
}
q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}
img {
	border: 0;
}
svg:not(:root) {
	overflow: hidden;
}
button, input {
	line-height: normal;
}
button, select {
	text-transform: none;
}
button {
	overflow: visible;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled], html input[disabled] {
	cursor: default;
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
button, input, select[multiple], textarea {
	background-image: none;
}
input, select, textarea {
	border-radius: 0;
	box-shadow: none;
}
input, textarea {
	resize: none;
	-webkit-user-select: text;
	   -moz-user-select: text;
	    -ms-user-select: text;
	        user-select: text;
}
[placeholder]:focus::-webkit-input-placeholder {
	color: transparent;
}
[placeholder]:focus::-moz-placeholder {
	color: transparent;
}
[placeholder]:focus:-ms-input-placeholder {
	color: transparent;
}
[placeholder]:focus::placeholder {
	color: transparent;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
	font-family: "Helvetica Regular";
	src: url("../fonts/HelveticaRegular.eot");
	src: url("../fonts/HelveticaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaRegular.woff") format("woff"), url("../fonts/HelveticaRegular.ttf") format("truetype"), url("../fonts/HelveticaRegular.svg#Helvetica Regular") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Helvetica Medium";
	src: url("../fonts/HelveticaMedium.eot");
	src: url("../fonts/HelveticaMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaMedium.woff") format("woff"), url("../fonts/HelveticaMedium.ttf") format("truetype"), url("../fonts/HelveticaMedium.svg#Helvetica Medium") format("svg");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Helvetica Light";
	src: url("../fonts/HelveticaLight.eot");
	src: url("../fonts/HelveticaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLight.woff") format("woff"), url("../fonts/HelveticaLight.ttf") format("truetype"), url("../fonts/HelveticaLight.svg#Helvetica Light") format("svg");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Helvetica UltraLight";
	src: url("../fonts/HelveticaUltraLight.eot");
	src: url("../fonts/HelveticaUltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaUltraLight.woff") format("woff"), url("../fonts/HelveticaUltraLight.ttf") format("truetype"), url("../fonts/HelveticaUltraLight.svg#Helvetica UltraLight") format("svg");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: "Helvetica Thin";
	src: url("../fonts/HelveticaThin.eot");
	src: url("../fonts/HelveticaThin.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaThin.woff") format("woff"), url("../fonts/HelveticaThin.ttf") format("truetype"), url("../fonts/HelveticaThin.svg#Helvetica Thin") format("svg");
	font-weight: 200;
	font-style: normal;
}
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	-ms-touch-action: pan-y;
	    touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}
.slick-list:focus {
	outline: none;
}
.slick-loading .slick-list {
	background: #fff url("../images/ajax-loader.gif") center center no-repeat;
}
.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}
.slick-slider .slick-track, .slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
}
.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
}
.slick-track:before, .slick-track:after {
	content: "";
	display: table;
}
.slick-track:after {
	clear: both;
}
.slick-loading .slick-track {
	visibility: hidden;
}
.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}
[dir="rtl"] .slick-slide {
	float: right;
}
.slick-slide img {
	display: block;
}
.slick-slide.slick-loading img {
	display: none;
}
.slick-slide.dragging img {
	pointer-events: none;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-loading .slick-slide {
	visibility: hidden;
}
.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}
@font-face {
	font-family: "slick";
	src: url("../fonts/slick.eot");
	src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
	font-weight: normal;
	font-style: normal;
}
.slick-prev, .slick-next {
	position: absolute;
	display: block;
	height: 20px;
	width: 20px;
	line-height: 0;
	font-size: 0;
	cursor: pointer;
	background: transparent;
	color: transparent;
	top: 50%;
	margin-top: -10px;
	padding: 0;
	border: none;
	outline: none;
}
.slick-prev:hover, .slick-next:hover, .slick-prev:focus, .slick-next:focus {
	outline: none;
	background: transparent;
	color: transparent;
}
.slick-prev:hover:before, .slick-next:hover:before, .slick-prev:focus:before, .slick-next:focus:before {
	opacity: 1;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
	opacity: 0.25;
}
.slick-prev:before, .slick-next:before {
	font-family: "slick";
	font-size: 20px;
	line-height: 1;
	color: #fff;
	opacity: 0.75;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-prev {
	left: -25px;
}
[dir="rtl"] .slick-prev {
	left: auto;
	right: -25px;
}
.slick-prev:before {
	content: "\2190";
}
[dir="rtl"] .slick-prev:before {
	content: "\2192";
}
.slick-next {
	right: -25px;
}
[dir="rtl"] .slick-next {
	left: -25px;
	right: auto;
}
.slick-next:before {
	content: "\2192";
}
[dir="rtl"] .slick-next:before {
	content: "\2190";
}
.slick-slider {
	margin-bottom: 30px;
}
.slick-dots {
	position: absolute;
	bottom: -45px;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	padding-left: 25px;
	width: 100%;
}
.slick-dots li {
	position: relative;
	display: inline-block;
	height: 20px;
	width: 20px;
	margin: 0 12px;
	padding: 0;
	cursor: pointer;
}
.slick-dots li button {
	border: 0;
	background: transparent;
	display: block;
	height: 20px;
	width: 20px;
	outline: none;
	line-height: 0;
	font-size: 0;
	color: transparent;
	cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
	outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
	opacity: 1;
}
.slick-dots li button:before {
	position: absolute;
	top: 0;
	left: 0;
	content: "\2022";
	width: 20px;
	height: 20px;
	font-family: "slick";
	font-size: 40px;
	line-height: 20px;
	text-align: center;
	color: #d7e1e5;
	opacity: 0.25;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
	color: $lightgreen;
	opacity: 0.75;
}
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	color: #7c7c7c;
	font-size: 20px;
	background: #fff;
	font-family: "Helvetica Regular", sans-serif;
	font-weight: 400;
}
.layout-wrapper {
	min-width: 780px;
	margin: 0 auto;
	overflow: hidden;
}
.layout-wrapper:before, .layout-wrapper:after {
	content: " ";
	display: table;
}
.layout-wrapper:after {
	clear: both;
}
a {
	text-decoration: none;
}
.header {
	height: 66px;
	position: fixed;
	background-color: #fff;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 10;
	box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.4);
}
.header__in {
	width: 772px;
	margin: 0 auto;
	overflow: hidden;
}
.header__in:before, .header__in:after {
	content: " ";
	display: table;
}
.header__in:after {
	clear: both;
}
.header__logo {
	background-image: url("../images/sprites/sprites.png");
	background-position: -419px -109px;
	width: 146px;
	height: 47px;
	display: block;
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
	float: left;
	margin-top: 8px;
}
.header__nav {
	float: right;
}
.header__nav-item {
	display: inline-block;
}
.header__nav-link {
	font-size: 15px;
	color: #000;
	line-height: 66px;
	height: 66px;
	margin-left: 20px;
	transition: all 0.4s;
}
.header__nav-link_green_underlined {
	color: #16a400;
	border-bottom: 1px dashed #16a400;
	font-size: 15px;
	transition: all 0.4s;
	margin-left: 20px;
}
.header__nav-link_green_underlined:hover {
	opacity: 0.4;
}
.header__nav-link:hover {
	opacity: 0.4;
}
.footer {
	height: 200px;
	background-color: #d5d5d5;
	color: #000;
	padding-top: 23px;
	font-size: 18px;
}
.footer__in {
	width: 772px;
	margin: auto;
}
.footer__in:before, .footer__in:after {
	content: " ";
	display: table;
}
.footer__in:after {
	clear: both;
}
.footer__left {
	float: left;
	width: 365px;
}
.footer__logo {
	background-image: url("../images/sprites/sprites.png");
	background-position: -254px -109px;
	width: 165px;
	height: 54px;
	display: block;
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
	margin-bottom: 6px;
}
.footer__policy {
	text-decoration: underline;
	color: #000;
	line-height: 1.5;
}
.footer__copyright {
	line-height: 1.1;
}
.footer__right {
	float: right;
	margin-top: 15px;
	text-align: right;
}
.footer__contact {
	line-height: 1.2;
}
.footer__contact a {
	color: #000;
}
.footer__contact a:hover {
	text-decoration: underline;
}
.promo {
	height: 488px;
	color: #fff;
	background-image: url("../images/promo-bg.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-top: 66px;
	position: relative;
	padding-top: 130px;
}
.promo:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #4a4a4a;
	background-image: background-image linear-gradient(207deg, rgba(0,0,0,0.34) 0%, transparent 100%);
	opacity: 0.7;
}
.promo__in {
	width: 772px;
	margin: 0 auto;
}
.promo__heading {
	position: relative;
	z-index: 1;
	font-size: 40px;
	width: 720px;
	margin-bottom: 22px;
	opacity: 0;
	-webkit-animation: fadeInLeft 1.2s ease forwards;
	        animation: fadeInLeft 1.2s ease forwards;
}
.promo__subheading {
	position: relative;
	z-index: 1;
	color: #d6d6d6;
	font-family: "Helvetica Light", sans-serif;
	font-weight: 300;
	font-size: 30px;
	opacity: 0;
	-webkit-animation: fadeInRight 1.2s ease forwards;
	        animation: fadeInRight 1.2s ease forwards;
	-webkit-animation-delay: 0.5s;
	        animation-delay: 0.5s;
}
.learn-more {
	height: 208px;
	text-align: center;
	padding-top: 70px;
}
.learn-more__wrap {
	opacity: 0;
	-webkit-animation: fadeInUp 1.2s ease forwards;
	        animation: fadeInUp 1.2s ease forwards;
	-webkit-animation-delay: 0.9s;
	        animation-delay: 0.9s;
}
.learn-more__link {
	color: #044b02;
	font-size: 20px;
	font-family: "Helvetica Medium", sans-serif;
	font-weight: 500;
	border-bottom: 1px dashed #044b02;
	display: inline-block;
	transition: all 0.2s ease;
}
.learn-more__link:hover {
	-webkit-transform: translateY(-6px);
	    -ms-transform: translateY(-6px);
	        transform: translateY(-6px);
}
.learn-more span {
	margin: 0 20px;
}
.learn-more__button {
	background-color: #15c34f;
	border-radius: 10px;
	box-shadow: 0 0 5.6px 0.4px rgba(0,0,0,0.27);
	display: inline-block;
	height: 54px;
	line-height: 56px;
	color: #fff;
	padding: 0 15px;
	text-shadow: 0.1px -2px 16px rgba(0,0,0,0.53);
	cursor: pointer;
	transition: all 0.2s ease;
}
.learn-more__button:hover {
	-webkit-transform: translateY(-6px);
	    -ms-transform: translateY(-6px);
	        transform: translateY(-6px);
	box-shadow: 0 0 5.6px 0.4px rgba(0,0,0,0.37);
}
.accessible {
	background-color: #ededed;
	padding-top: 76px;
	min-height: 365px;
}
.accessible__in {
	width: 772px;
	margin: auto;
	padding: 0 20px 0 40px;
}
.accessible__in:before, .accessible__in:after {
	content: " ";
	display: table;
}
.accessible__in:after {
	clear: both;
}
.accessible__photo {
	float: left;
	margin-right: 20px;
	opacity: 0;
}
.accessible__photo_animated {
	-webkit-animation: fadeInRight 1s ease forwards;
	        animation: fadeInRight 1s ease forwards;
	-webkit-animation-delay: 1s;
	        animation-delay: 1s;
}
.accessible__wrap {
	margin-top: 20px;
}
.accessible__heading {
	color: #000;
	font-size: 30px;
	margin-bottom: 12px;
	opacity: 0;
}
.accessible__heading_animated {
	-webkit-animation: fadeInDown 1s ease forwards;
	        animation: fadeInDown 1s ease forwards;
}
.accessible__heading span {
	color: #15c34f;
}
.accessible__text {
	color: #6a6a6a;
	font-size: 17px;
	line-height: 1.06;
	margin-bottom: 12px;
	opacity: 0;
}
.accessible__text_animated {
	-webkit-animation: fadeInDown 1s ease forwards;
	        animation: fadeInDown 1s ease forwards;
	-webkit-animation-delay: 0.5s;
	        animation-delay: 0.5s;
}
.salary {
	min-height: 448px;
	padding-top: 82px;
}
.salary__in {
	width: 772px;
	margin: auto;
	padding: 0;
}
.salary__in:before, .salary__in:after {
	content: " ";
	display: table;
}
.salary__in:after {
	clear: both;
}
.salary__wrap {
	float: left;
	margin-right: -40px;
}
.salary__heading {
	color: #000;
	font-size: 30px;
	margin-bottom: 20px;
	opacity: 0;
}
.salary__heading span {
	color: #13b248;
}
.salary__heading_animated {
	-webkit-animation: fadeInDown 1s ease forwards;
	        animation: fadeInDown 1s ease forwards;
}
.salary__text {
	line-height: 1.15;
	opacity: 0;
}
.salary__text_animated {
	-webkit-animation: fadeInDown 1s ease forwards;
	        animation: fadeInDown 1s ease forwards;
	-webkit-animation-delay: 0.5s;
	        animation-delay: 0.5s;
}
.salary__button {
	background-color: #15c34f;
	border-radius: 10px;
	box-shadow: 0 0 5.6px 0.4px rgba(0,0,0,0.27);
	display: inline-block;
	height: 40px;
	line-height: 40px;
	color: #fff;
	padding: 0 15px;
	text-shadow: 0.1px -2px 16px rgba(0,0,0,0.53);
	cursor: pointer;
	margin-top: 18px;
	opacity: 0;
	transition: all 0.2s ease;
}
.salary__button:hover {
	-webkit-transform: translateY(-6px);
	    -ms-transform: translateY(-6px);
	        transform: translateY(-6px);
}
.salary__button_animated {
	-webkit-animation: fadeIn 1s ease forwards;
	        animation: fadeIn 1s ease forwards;
	-webkit-animation-delay: 0.5s;
	        animation-delay: 0.5s;
}
.salary__image {
	float: right;
	display: block;
	margin-top: 20px;
	position: relative;
	right: -4px;
	opacity: 0;
}
.salary__image_animated {
	-webkit-animation: fadeInLeft 1s ease forwards;
	        animation: fadeInLeft 1s ease forwards;
	-webkit-animation-delay: 1s;
	        animation-delay: 1s;
}
.care {
	min-height: 522px;
	background: url("../images/working.jpg") no-repeat center/cover;
	color: #fff;
	font-size: 23px;
	padding-top: 88px;
	text-align: center;
}
.care__in {
	width: 772px;
	margin: auto;
}
.care__heading {
	margin-bottom: 54px;
	font-size: 30px;
	font-family: "Helvetica Medium", sans-serif;
	font-weight: 500;
	opacity: 0;
}
.care__heading span {
	color: #1bd358;
}
.care__heading_animated {
	-webkit-animation: fadeInDown 1s ease forwards;
	        animation: fadeInDown 1s ease forwards;
}
.care__text {
	width: 700px;
	margin: 0 auto;
	padding-top: 44px;
	position: relative;
}
.care__text_animated:first-of-type {
	-webkit-animation: fadeInDown 1s ease forwards;
	        animation: fadeInDown 1s ease forwards;
	-webkit-animation-delay: 0.5s;
	        animation-delay: 0.5s;
}
.care__text:first-of-type {
	margin-bottom: 62px;
	opacity: 0;
}
.care__text:first-of-type:before {
	content: "";
	position: absolute;
	background-image: url("../images/sprites/sprites.png");
	background-position: -254px -195px;
	width: 39px;
	height: 34px;
	top: 0;
	left: 50%;
	margin-left: -19.5px;
}
.care__text_animated:last-of-type {
	opacity: 0;
	-webkit-animation: fadeInDown 1s ease forwards;
	        animation: fadeInDown 1s ease forwards;
	-webkit-animation-delay: 1s;
	        animation-delay: 1s;
}
.care__text:last-of-type:before {
	content: "";
	position: absolute;
	background-image: url("../images/sprites/sprites.png");
	background-position: -308px -163px;
	width: 33px;
	height: 30px;
	top: 0;
	left: 50%;
	margin-left: -16.5px;
}
.what-important {
	min-height: 546px;
	background: url("../images/pcs.jpg") no-repeat center/cover;
	color: #000;
	padding-top: 86px;
	text-align: center;
}
.what-important__in {
	width: 772px;
	margin: auto;
}
.what-important__heading {
	font-size: 30px;
	margin: 0 auto 60px;
	width: 520px;
	opacity: 0;
}
.what-important__heading span {
	color: #13b148;
	font-family: "Helvetica Medium", sans-serif;
	font-weight: 500;
}
.what-important__heading_animated {
	-webkit-animation: fadeInDown 1s ease forwards;
	        animation: fadeInDown 1s ease forwards;
}
.what-important__list {
	float: right;
	margin-right: 85px;
}
.what-important__item {
	padding-left: 62px;
	width: 520px;
	font-size: 23px;
	margin-bottom: 20px;
	position: relative;
	text-align: left;
}
.what-important__item_animated:nth-child(1) {
	opacity: 0;
	-webkit-animation: fadeInDown 1s ease forwards;
	        animation: fadeInDown 1s ease forwards;
	-webkit-animation-delay: 0.4s;
	        animation-delay: 0.4s;
}
.what-important__item_animated:nth-child(2) {
	opacity: 0;
	-webkit-animation: fadeInDown 1s ease forwards;
	        animation: fadeInDown 1s ease forwards;
	-webkit-animation-delay: 0.8s;
	        animation-delay: 0.8s;
}
.what-important__item_animated:nth-child(3) {
	opacity: 0;
	-webkit-animation: fadeInDown 1s ease forwards;
	        animation: fadeInDown 1s ease forwards;
	-webkit-animation-delay: 1.2s;
	        animation-delay: 1.2s;
}
.what-important__item:nth-child(1):before {
	content: "1";
	position: absolute;
	color: #14ba4b;
	width: 43px;
	height: 43px;
	border: 2px solid #14ba4b;
	border-radius: 50%;
	text-align: center;
	padding-left: 2px;
	left: 0;
	line-height: 43px;
}
.what-important__item:nth-child(2):before {
	content: "2";
	position: absolute;
	color: #14ba4b;
	width: 43px;
	height: 43px;
	border: 2px solid #14ba4b;
	border-radius: 50%;
	text-align: center;
	padding-left: 2px;
	left: 0;
	line-height: 43px;
}
.what-important__item:nth-child(3):before {
	content: "3";
	position: absolute;
	color: #14ba4b;
	width: 43px;
	height: 43px;
	border: 2px solid #14ba4b;
	border-radius: 50%;
	text-align: center;
	padding-left: 2px;
	left: 0;
	line-height: 43px;
}
.what-important__button {
	clear: both;
	display: inline-block;
	text-align: center;
	background-color: #15c34f;
	border-radius: 10px;
	box-shadow: 0.1px -2px 0 rgba(0,0,0,0.27);
	display: inline-block;
	height: 40px;
	line-height: 40px;
	color: #fff;
	text-shadow: 0.1px -2px 16px rgba(0,0,0,0.53);
	cursor: pointer;
	margin-top: 38px;
	font-size: 18px;
	padding: 0 15px;
	transition: all 0.2s ease;
	opacity: 0;
}
.what-important__button_animated {
	-webkit-animation: fadeIn 1s ease forwards;
	        animation: fadeIn 1s ease forwards;
	-webkit-animation-delay: 1.6s;
	        animation-delay: 1.6s;
}
.what-important__button:hover {
	-webkit-transform: translateY(-6px);
	    -ms-transform: translateY(-6px);
	        transform: translateY(-6px);
}
.about {
	padding-top: 50px;
	text-align: center;
}
.about__in {
	width: 772px;
	margin: 0 auto;
}
.about__logo {
	margin-bottom: 26px;
	opacity: 0;
}
.about__logo_animated {
	-webkit-animation: fadeIn 1s ease forwards;
	        animation: fadeIn 1s ease forwards;
}
.about__text {
	line-height: 1.5;
	color: #000;
	padding-bottom: 45px;
	position: relative;
	opacity: 0;
}
.about__text_animated {
	-webkit-animation: fadeIn 1s ease forwards;
	        animation: fadeIn 1s ease forwards;
	-webkit-animation-delay: 0.5s;
	        animation-delay: 0.5s;
}
.about__text_animated:after {
	-webkit-animation: fadeInUp 1s ease forwards;
	        animation: fadeInUp 1s ease forwards;
	-webkit-animation-delay: 1s;
	        animation-delay: 1s;
}
.about__text:after {
	content: "";
	opacity: 0;
	position: absolute;
	width: 147px;
	height: 10px;
	background-color: #73e363;
	left: 50%;
	bottom: 4px;
	margin-left: -73.5px;
}
.about__text strong {
	font-family: "Helvetica Medium", sans-serif;
	font-weight: 500;
}
.form-section {
	padding-top: 44px;
	padding-bottom: 30px;
	color: #000;
	font-family: "Helvetica Light", sans-serif;
	font-weight: 300;
}
.form-section__in {
	width: 772px;
	margin: 0 auto;
	text-align: center;
}
.form-section__heading {
	width: 450px;
	margin: 0 auto;
	font-size: 30px;
	margin-bottom: 28px;
	opacity: 0;
}
.form-section__heading span {
	color: #1ca209;
}
.form-section__heading_animated {
	-webkit-animation: fadeIn 1s ease forwards;
	        animation: fadeIn 1s ease forwards;
	-webkit-animation-delay: 1.2s;
	        animation-delay: 1.2s;
}
.form-section__info {
	width: 590px;
	margin: 0 auto;
	color: #656565;
	font-family: "Helvetica Light", sans-serif;
	font-weight: 300;
	margin-top: 32px;
}
.form-section__info strong {
	color: #101010;
}
.form {
	opacity: 0;
	width: 376px;
	margin: 0 auto;
}
.form_animated {
	-webkit-animation: fadeIn 1s ease forwards;
	        animation: fadeIn 1s ease forwards;
	-webkit-animation-delay: 1.8s;
	        animation-delay: 1.8s;
}
.form input::-webkit-input-placeholder {
	color: #000;
}
.form input::-moz-placeholder {
	color: #000;
}
.form input:-ms-input-placeholder {
	color: #000;
}
.form input::placeholder {
	color: #000;
}
.form__field {
	width: 100%;
	border: 1px solid #bebebe;
	border-radius: 10px;
	box-shadow: inset 0 0 9px rgba(0,0,0,0.3);
	height: 40px;
	text-align: center;
	margin-bottom: 22px;
	padding: 0 20px;
}
.form__field[name="name"] {
	width: 42%;
}
.form__field[name="surname"] {
	width: 56%;
}
.form__field[name="nationality"] {
	width: 58%;
}
.form__field[name="age"] {
	width: 40%;
}
.form__submit {
	background-color: #13b64a;
	border-radius: 10px;
	box-shadow: 0 0 6px rgba(113,113,113,0.55);
	color: #fff;
	font-size: 23px;
	border: 0;
	height: 50px;
	line-height: 52px;
	width: 100%;
	transition: all 0.2s ease;
}
.form__submit:hover {
	-webkit-transform: translateY(-4px);
	    -ms-transform: translateY(-4px);
	        transform: translateY(-4px);
}
