html
  box-sizing border-box

*, *:before, *:after 
  box-sizing inherit

body
  color #7c7c7c
  font-size 20px
  background white
  hr()
.layout-wrapper
  min-width 780px
  margin 0 auto
  overflow hidden
  clearfix()
  
a
  text-decoration none
  
.arrow-up {
}
